{% extends 'admin/admin_layout.html' %}

{% block content %}
<a href="{% url 'main_admin' %}">Панель администратора</a>
<a href="{% url 'objects' %}">Все объекты</a>
<p>Добавить объект</p>
</div>
<!-- <h4 class="user">Иван Иванов</h4> -->
<h1 class="col-md-6 col-12">Добавить объект</h1>
</section>
<!-- <section>
            <div class="input-group row mb-3 no-gutters">
                <div class="col-lg-4 col-12 row">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Продавец</span>
                    </div>
                    <input type="text" class="form-control" aria-describedby="basic-addon1">
                </div>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon10">Телефон</span>
                </div>
                <input type="number" class="form-control col-lg-3" aria-describedby="basic-addon10">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon11">Кадастровый номер</span>
                </div>
                <input type="number" class="form-control col-lg-3 col-12" aria-describedby="basic-addon11">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Тип объекта</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                    <option>Земельный участок</option>
                    <option>Дача</option>
                    <option>Коттедж</option>
                    <option>Промышленная база</option>
                </select>
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect02">Направление</label>
                </div>
                <select class="custom-select" id="inputGroupSelect02">
                    <option>Александровский тракт</option>
                    <option>Култукский тракт</option>
                    <option>В сторону Мельничной Пади</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect03">Предок</label>
                </div>
                <select class="custom-select" id="inputGroupSelect03">
                    <option>Садоводство "Вишенка"</option>
                    <option>Садоводство "Яблочко"</option>
                </select>
                <div class="input-group-prepend">
                    <span class="input-group-text">Удаленность от предка</span>
                </div>
                <input type="number" class="form-control">
                <div class="input-group-append">
                    <span class="input-group-text">км</span>
                </div>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Улица</span>
                </div>
                <input type="text" class="form-control">
                <div class="input-group-prepend">
                    <span class="input-group-text">Дом</span>
                </div>
                <input type="text" class="form-control">
                <div class="input-group-prepend">
                    <span class="input-group-text">Дополнения</span>
                </div>
                <input type="text" class="form-control">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect03">Назначение</label>
                </div>
                <select class="custom-select" id="inputGroupSelect03">
                    <option>Для хозяйства</option>
                </select>
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect03">Владение</label>
                </div>
                <select class="custom-select" id="inputGroupSelect03">
                    <option>Собственность</option>
                </select>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Описание</span>
                </div>
                <textarea class="form-control" aria-label="Описание"></textarea>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Статус</span>
                </div>
                <select class="custom-select">
                    <option>Активен</option>
                    <option>Скрыт</option>
                </select>
                <div class="input-group-prepend">
                    <span class="input-group-text">Рейтинг</span>
                </div>
                <input type="number" min="0" max="5" class="form-control">
                <div class="input-group-prepend">
                    <span class="input-group-text">Источник</span>
                </div>
                <input type="text" class="form-control">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Ссылка на обзор</span>
                </div>
                <input type="text" class="form-control">
                <div class="input-group-prepend">
                    <span class="input-group-text">Ответственный</span>
                </div>
                <input type="text" class="form-control">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Стоимость продавца</span>
                </div>
                <input type="number" class="form-control">
                <div class="input-group-prepend">
                    <span class="input-group-text">Комиссия</span>
                </div>
                <input type="number" class="form-control">
                <div class="input-group-prepend">
                    <span class="input-group-text">Общая стоимость</span>
                </div>
                <input type="number" class="form-control">
                <div class="input-group-append">
                    <span class="input-group-text">тыс. руб.</span>
                </div>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox">
                    </div>
                </div>
                <label class="form-control col-12">Хорошая цена</label>
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox">
                    </div>
                </div>
                <label class="form-control">Торг</label>
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox">
                    </div>
                </div>
                <label class="form-control">Инвестиционная привлекательность</label>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon12">Условия цены</span>
                </div>
                <input type="text" class="form-control" aria-describedby="basic-addon12">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text">Характеристики</label>
                </div>
                <select class="custom-select">
                    <option>Свежий воздух</option>
                </select>
                <label class="input-group-text fas fa-plus pt-2"></label>
                <div class="input-group-prepend">
                    <label class="input-group-text">Инфраструктура</label>
                </div>
                <select class="custom-select">
                    <option>Отличный забор</option>
                </select>
                <label class="input-group-text fas fa-plus pt-2"></label>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class=" flex-wrap">
                        <button type="button" class="btn btn-primary my-2 mr-2">свежий воздух
                            <a href="#" class="fas fa-trash"></a></button>
                        <button type="button" class="btn btn-primary my-2 mr-2">красивый сад
                            <a href="#" class="fas fa-trash"></a></button>
                        <button type="button" class="btn btn-primary my-2 mr-2">красивый сад
                            <a href="#" class="fas fa-trash"></a></button>
                        <button type="button" class="btn btn-primary my-2 mr-2">красивый сад
                            <a href="#" class="fas fa-trash"></a></button>
                        <button type="button" class="btn btn-primary my-2 mr-2">красивый сад
                            <a href="#" class="fas fa-trash"></a></button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="flex-wrap">
                        <button type="button" class="btn btn-info my-2 mr-2">гараж
                            <a href="#" class="fas fa-trash"></a>
                        </button>
                        <button type="button" class="btn btn-info my-2 mr-2">гараж
                            <a href="#" class="fas fa-trash"></a>
                        </button>
                        <button type="button" class="btn btn-info my-2 mr-2">гараж
                            <a href="#" class="fas fa-trash"></a>
                        </button>
                        <button type="button" class="btn btn-info my-2 mr-2">гараж
                            <a href="#" class="fas fa-trash"></a>
                        </button>
                        <button type="button" class="btn btn-info my-2 mr-2">подполье
                            <a href="#" class="fas fa-trash"></a>
                        </button>
                    </div>
                </div>
            </div>

            <label for="coor" class="mt-3">Координаты</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="coor">Широта</span>
                </div>
                <input type="text" class="form-control">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="coor">Долгота</span>
                </div>
                <input type="text" class="form-control">
            </div>

        </section> -->
<section>
    <form method="POST" action="{% url 'add_place' %}">
        {% csrf_token %}
        <div class="form-row pl-1">
            <div class="form-group form-row col-lg-4 ">
                <label for="seller">Продавец</label>
                <a href="#" class="fas fa-plus mt-1 ml-2"></a>
                <input type="text" class="form-control col-12" id="seller" name="seller" required>
            </div>
            <div class="form-group col-lg-4 p-0 p-lg-1">
                <label for="phone">Телефон</label>
                <input type="tel" class="form-control" id="phone" readonly>
            </div>
            <div class="form-group col-lg-4 p-0 p-lg-1">
                <label for="inputCadNum">Кадастровый номер</label>
                <input type="number" class="form-control" id="inputCadNum" name="cadast_num" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-lg-3">
                <label>Тип объекта</label>
                <select class="form-control" name="type">
                    {% for n in o.type_dict %}
                        <option value="{{n.0}}">{{n.1}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-lg-4">
                <label>Направление</label>
                <select class="form-control" name="locality">
                    {% for l in parents %}
                    <option value="{{l.id}}">{{l.show_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-lg-5">
                <label>Предок</label>
                <select class="form-control" name="parent">
                    {% for l in childs %}
                    <option value="{{l.id}}">{{l.show_name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        
        <div class="form-row">
            <div class="form-group col-lg-9">
                <label for="inputГород">Адрес</label>
                <input type="text" class="form-control" id="inputГород" name="address" required>
            </div>
            <div class="form-group form-row col-lg-3 justify-content-between">
                <label for="LongParent">Удаленность от предка</label>
                <input type="number" step="0.01" class="form-control col-10" id="LongParent" name="distance" required>
                <label>км</label>
            </div>
        </div>

        <div class="form-row justify-content-between">
            <div class="form-group col-lg-5">
                <label>Назначение</label>
                <select class="form-control" name="purpose">
                    {% for n in o.purpose_dist %}
                        <option value="{{n.0}}">{{n.1}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-lg-3">
                <label>Владение</label>
                <select class="form-control" name="posession">
                    {% for n in o.posession_dist %}
                        <option value="{{n.0}}">{{n.1}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group form-row col-lg-2 pl-2">
                <label for="square" class="col-12">Площадь</label>
                <input type="number" step="0.01" class="form-control col-lg-8 col-11" id="square" name="area" required>
                <label class="ml-2">м<sup>2</sup></label>
            </div>
            <div class="form-group form-row col-lg-2 pr-0 pl-2">
                <label for="onjsq" class="col-12 p-0">Площадь объекта</label>
                <input type="number" step="0.01" class="form-control col-lg-8 col-11" id="objsq" name="object_area" required>
                <label class="ml-2">м<sup>2</sup></label>
            </div>
        </div>

        <div class="form-row px-lg-1">
            <div class="form-group form-row col-lg-6 pl-2">
                <label>Характеристики</label>
                <select class="form-control col-11">
                    <option>красивый садик</option>
                    <option>свежий воздух</option>
                </select>
                <a href="#" class="fas fa-plus m-auto"></a>
            </div>
            <div class="form-group form-row col-lg-6 pl-2">
                <label>Инфраструктура</label>
                <select class="form-control col-11">
                    <option>гараж</option>
                    <option>подполье</option>
                </select>
                <a href="#" class="fas fa-plus m-auto"></a>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-6">
                <div class=" flex-wrap">
                    <button type="button" class="btn btn-primary my-2 mr-2">свежий воздух
                        <a href="#" class="fas fa-trash"></a></button>
                    <button type="button" class="btn btn-primary my-2 mr-2">красивый сад
                        <a href="#" class="fas fa-trash"></a></button>
                    <button type="button" class="btn btn-primary my-2 mr-2">красивый сад
                        <a href="#" class="fas fa-trash"></a></button>
                    <button type="button" class="btn btn-primary my-2 mr-2">красивый сад
                        <a href="#" class="fas fa-trash"></a></button>
                    <button type="button" class="btn btn-primary my-2 mr-2">красивый сад
                        <a href="#" class="fas fa-trash"></a></button>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="flex-wrap">
                    <button type="button" class="btn btn-info my-2 mr-2">гараж
                        <a href="#" class="fas fa-trash"></a>
                    </button>
                    <button type="button" class="btn btn-info my-2 mr-2">гараж
                        <a href="#" class="fas fa-trash"></a>
                    </button>
                    <button type="button" class="btn btn-info my-2 mr-2">гараж
                        <a href="#" class="fas fa-trash"></a>
                    </button>
                    <button type="button" class="btn btn-info my-2 mr-2">гараж
                        <a href="#" class="fas fa-trash"></a>
                    </button>
                    <button type="button" class="btn btn-info my-2 mr-2">подполье
                        <a href="#" class="fas fa-trash"></a>
                    </button>
                </div>
            </div>
        </div>
        <div class="form-row ">
            <div class="form-group col-12">
                <label>Описание</label>
                <textarea rows="5" class="form-control w-100" name="description"></textarea>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-lg-3">
                <label for="r">Рейтинг</label>
                <input type="number" min="0" max="5" class="form-control" id="r" name="rating" required>
            </div>
            <div class="form-group col-lg-4">
                <label>Статус</label>
                <select class="form-control" name="status">
                    {% for n in o.status_dist %}
                        <option value="{{n.0}}">{{n.1}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-lg-5">
                <label>Источник</label>
                <input class="form-control" name="source" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-lg-8">
                <label for="link">Ссылка на обзор</label>
                <input type="text" class="form-control" id="link" name="link">
            </div>
            <div class="form-group form-row col-lg-4">
                <label for="resp">Ответственный</label>
                <a href="#" class="fas fa-plus mt-1 ml-2"></a>
                <input type="text" class="form-control col-12" id="resp">
            </div>
        </div>
        

        <div class="form-row pl-lg-1 justify-content-between">
            <div class=" form-row col-lg-3">
                <label for="cost" class="m-0 col-12">Стоимость продавца</label>
                <input type="number" step="0.01" class="form-control col-lg-7 col-10" id="cost" name="cost" required>
                <label class="ml-1 mt-1">руб.</label>
            </div>
            <div class=" form-row col-lg-2 px-lg-2 px-1">
                <label for="com" class="m-0 col-12">Комиссия</label>
                <input type="number" step="0.01" class="form-control col-lg-6 col-10" id="com" value="1" name="comission" required>
                <label class="ml-1 mt-1">руб.</label>
            </div>
            <div class="form-row col-lg-2 px-lg-2 px-1">
                <label for="sum" class="m-0 col-12">Общая сумма</label>
                <input type="number" class="form-control col-lg-6 col-10" id="sum" readonly>
                <label class="ml-1 mt-1">руб.</label>
            </div>
            <div class="form-group col-lg-5 p-0">
                <label for="cond" class="mb-3">Условия цены</label>
                <input type="text" class="form-control" id="cond" name="price_conditions">
            </div>
        </div>

        <div class="form-row mb-3 m-0 px-3">
            <div class="form-check col-12 col-lg-3">
                <input class="form-check-input" type="checkbox" id="good" name="good_price">
                <label class="form-check-label" for="good">
                    Хорошая цена
                </label>
            </div>
            <div class="form-check col-12 col-lg-2">
                <input class="form-check-input" type="checkbox" id="bargain" name="bargain">
                <label class="form-check-label" for="bargain">
                    Торг
                </label>
            </div>
            <div class="form-check col-12 col-lg-4">
                <input class="form-check-input" type="checkbox" id="invest" name="invest_attract">
                <label class="form-check-label" for="invest">
                    Инвестиционная привлекательность
                </label>
            </div>
        </div>

        <div class="form-row ">
            <div class="form-group col-lg-3 ">
                <label for="Широта">Широта</label>
                <input type="number" step="0.000001" class="form-control" id="Широта" name="latitude" required>
            </div>
            <div class="form-group col-lg-3 ">
                <label for="Долгота">Долгота</label>
                <input type="number" step="0.000001" class="form-control" id="Долгота" name="longitude" required>
            </div>
            <div class="form-group d-flex mb-3 col-lg-3 align-items-end justify-content-center ">
                <button type="reset" class="btn btn-outline-danger col-lg-10 col-12 ">Сбросить</button>
            </div>
            <div class="form-group d-flex mb-3 col-lg-3 align-items-end justify-content-center ">
                <button type="submit" class="btn btn-outline-primary col-12">Установить</button>
            </div>
        </div>
    
</section>
<section>
    <div>
        <iframe src="https://yandex.ru/map-widget/v1/-/CCUQ6GH-TB" width="100%" height="500"
            allowfullscreen="true"></iframe>
    </div>
</section>

<section>
    <h4 class="my-3">Фотографии <a href="#" class="fas fa-plus"></a></h4>
    <div class="media flex-wrap">
        <img src="images/no-photo.jpg" width="150px" class="mr-2"><a href="#" class="fas fa-trash mr-3"></a>
        <img src="images/no-photo.jpg" width="150px" class="mr-2"><a href="#" class="fas fa-trash mr-3"></a>
        <img src="images/no-photo.jpg" width="150px" class="mr-2"><a href="#" class="fas fa-trash mr-3"></a>
    </div>
</section>

<section class="row py-4 w-100 my-md-3 mx-auto justify-content-end">
    <button type="reset" class="btn btn-secondary col-md-3 col-12 mx-md-2 my-1">Сбросить</button>
    <button type="submit" class="btn btn-success col-md-3 col-12 mx-md-2 my-1">Добавить</button>


</section>
</form>
{% endblock %}