{% extends 'main/layout.html' %}
{% load static %}

{% block description %}<meta name="description" content= "Самый лучший земельный участок от ЗемляИрк!
 Мощный сервис по подбору недвижимости на любой вкус от лучшей компании по недвижимости."> {% endblock %}
{% block title %}ЗемляИрк - Земельные участки купить в Иркутске.{% endblock %}

{% block content %}
<div class="left-statistic">
    <h3>Сегодня в Иркутске продаются:</h3>
    <div>
        <p><i class="fas fa-warehouse"></i> 1945 объектов</p>
        <p><i class="fas fa-vector-square"></i> 1600га земли</p>
        <p><i class="fas fa-door-closed"></i> 789м<sup>2</sup> жилья</p>
    </div>
    <div>
        <h4>Из них земель:</h4>
        <p><i class="fas fa-home"></i> 66 дач</p>
        <p><i class="fas fa-building"></i> 26 коттеджей</p>
        <p><i class="fas fa-key"></i> 10 квартир</p>
    </div>
</div>
</aside>

<section>
    <section class="search">
        <form class="search-panel">
            <input placeholder="Поиск"></input>
            <a href="{% url 'search' %}" type="button" class="fa fa-search"> </a>
        </form>
        <a href="{% url 'search' %}" type="button" class="button"><span>Расширенный</span>&nbsp;поиск</a>
        <a href="{% url 'search' %}" type="button" class="button fas fa-search-location fa-2x"></a>
    </section>

    <section class="breadcrumbs">
        <a href="{% url 'mainpage' %}">Главная</a>
        <a href="{% url 'country' %}">Загородная недвижимость</a>
        <a href="{% url 'country' %}">Земельные участки</a>
        <p>Участок №{{place.id}}</p>
    </section>

    <section class="place-header">
        <div class="place-icons">
            <h1>Земельный участок №{{place.id}}</h1>
            <div>
                <figure>
                    <i class="fas fa-eye"></i>
                    <figcaption>456</figcaption>
                </figure>
                <a href="#" class="far fa-heart" title="Добавить в избранное"></a>
                <a href="#" class="fas fa-share-alt" title="Поделиться"></a>
                <a href="#" class="fas fa-plus" title="Добавить в сравнение"></a>
                <p class="locality">{{place.parent}}</p>

            </div>
        </div>
        <div class="place-price">
            <div>
                <h2><span>{{place.cost}}</span> р. </h2>
                <p>
                <p><i class="fas fa-vector-square fa-1x"></i> {{place.area|floatformat}}&nbsp;сот.&nbsp; </p>
                </p>
                <p>| {% widthratio place.cost place.area 1 %} руб./сотку</p>
            </div>

        </div>

    </section>

    <section class="place">
        <div class="place-description">
            <iframe src="https://yandex.ru/map-widget/v1/-/CCUQ6GH-TB" width="100%" height="450"
                allowfullscreen="true"></iframe>

            <div class="add-info">
                <a href="#" class="underline"><i class="fas fa-map-pin"></i> Посмотреть участки рядом</a>
                <a href="#" class="button">Запросить дополнительную информацию</a>

            </div>
        </div>
        <div class="place-description">
            <div class="place-date">
                <!-- <h2>Описание</h2> -->
                <h4>{{place.date_update}}</h4>
            </div>
            <table>
                <tr>
                    <td>Направление:</td>
                    <td>{{place.locality}}</td>
                </tr>
                <tr>
                    <td>Населенный пункт:</td>
                    <td>{{place.parent}} </td>
                </tr>
                <tr>
                    <td >Расположение</td>
                    <td>{{place.distance}} км</td>
                </tr>
                <tr>
                    <td >Адрес</td>
                    <td>{{place.address}}</td>
                </tr>

                <tr>
                    <td >Владение</td>
                    <td>{{place.get_posession_display}}</td>
                </tr>
                <tr>
                    <td >Назначение</td>
                    <td>{{place.get_purpose_display}}</td>
                </tr>
                <tr>
                    <td >Условия цены</td>
                    <td>{{place.price_conditions}}</td>
                </tr>
                <tr>
                    <td >Описание</td>
                    <td>{{place.description}}</td>
                </tr>
                <tr>
                    {% if place.good_price %}
                        <td>Хорошая цена</td>
                    {% endif %}
                    {% if place.bargain %}
                        <td>Возможен торг</td>
                    {% endif %}
                    {% if place.invest_attract %}
                        <td>Инвестиционная привлекательность</td>
                    {% endif %}
                </tr>
            </table>
            <div class="mortgage">
                <a href="#" class="button">Купить в ипотеку</a>

                <a href="#"><img src="{% static 'main/images/raif.svg' %}" width="100%"></a>
                <a href=""><img src="{% static 'main/images/vtb.svg' %}" width="100%"></a>
                <!-- <img src="images/sber1.png" width="10%"> -->
                <a href=""><img src="{% static 'main/images/moscow.svg' %}" width="100%"></a>
            </div>
        </div>

    </section>

    <!-- <section class="road-img">
                <img src="images/road-photo.jpg" width="100%">
            </section> -->

    <!-- Add images to <div class="fotorama"></div> -->
    <div class="fotorama" data-nav="thumbs" data-allowfullscreen="true">
        <a href="{% static 'main/images/road-photo.jpg' %}"></a>
        <a href="{% static 'main/images/road-photo.jpg' %}"></a>
        <a href="{% static 'main/images/road-photo.jpg' %}"></a>
    </div>

    <figure class="highcharts-figure">
        <div id="container"></div>
        <p class="highcharts-description">
            
        </p>
    </figure>


    <section class="place-sames">
        <h3>Похожие предложения</h3>
        <div class="low-price-places slider_price">
            <div>
                <fieldset>
                    <legend>Коттедж</legend>
                    <a href="place.html">
                        <img src="{% static 'main/images/road-photo.jpg' %}" width="100%">
                        <p>Березонька</p>
                        <div>
                            <p><span>3 500</span>
                                <span>тыс.р.</span>
                                <span>| 80м<sup>2</sup></span>
                            </p>
                        </div>
                    </a>
                </fieldset>
            </div>

            <div>
                <fieldset>
                    <legend>Коттедж</legend>
                    <a href="place.html">
                        <img src="{% static 'main/images/road-photo.jpg' %}" width="100%">
                        <p>Березонька</p>
                        <div>
                            <p><span>3 500</span>
                                <span>тыс.р.</span>
                                <span>| 80м<sup>2</sup></span>
                            </p>
                        </div>
                    </a>
                </fieldset>
            </div>

            <div>
                <fieldset>
                    <legend>Коттедж</legend>
                    <a href="place.html">
                        <img src="{% static 'main/images/road-photo.jpg' %}" width="100%">
                        <p>Березонька</p>
                        <div>
                            <p><span>3 500</span>
                                <span>тыс.р.</span>
                                <span>| 80м<sup>2</sup></span>
                            </p>
                        </div>
                    </a>
                </fieldset>
            </div>

            <div>
                <fieldset>
                    <legend>Коттедж</legend>
                    <a href="place.html">
                        <img src="{% static 'main/images/road-photo.jpg' %}" width="100%">
                        <p>Березонька</p>
                        <div>
                            <p><span>3 500</span>
                                <span>тыс.р.</span>
                                <span>| 80м<sup>2</sup></span>
                            </p>
                        </div>
                    </a>
                </fieldset>
            </div>
        </div>
    </section>


    <section class="place-recently">
        <h3>Недавно просмотренные</h3>
        <div class="low-price-places slider_price">
            <fieldset>
                <legend>Коттедж</legend>
                <a href="place.html">
                    <img src="{% static 'main/images/road-photo.jpg' %}" width="100%">
                    <p>Березонька</p>
                    <div>
                        <p><span>3 500</span>
                            <span>тыс.р.</span>
                            <span>| 80м<sup>2</sup></span>
                        </p>
                    </div>
                </a>
            </fieldset>

            <fieldset>
                <legend>Коттедж</legend>
                <a href="place.html">
                    <img src="{% static 'main/images/road-photo.jpg' %}" width="100%">
                    <p>Березонька</p>
                    <div>
                        <p><span>3 500</span>
                            <span>тыс.р.</span>
                            <span>| 80м<sup>2</sup></span>
                        </p>
                    </div>
                </a>
            </fieldset>

            <fieldset>
                <legend>Коттедж</legend>
                <a href="place.html">
                    <img src="{% static 'main/images/road-photo.jpg' %}" width="100%">
                    <p>Березонька</p>
                    <div>
                        <p><span>3 500</span>
                            <span>тыс.р.</span>
                            <span>| 80м<sup>2</sup></span>
                        </p>
                    </div>
                </a>
            </fieldset>

        </div>
    </section>
</section>


{% endblock %}